@model ProductDetailViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@*<ul class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active">@Model.Product.Name</li>
</ul>*@
<div class="clearfix"> </div>

    <div style=" color: black;padding-top: 30px;padding-bottom: 30px;text-align: center;background-color: #FDA30E"> 
        <h1>Thông tin chi tiết về điện thoại @Model.Product.Name</h1>
    </div>

<div class="single">
    <div class="container">
        <div class="col-md-6 single-right-left animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
            <div class="grid images_3_of_2">
                <div class="flexslider">
                    <a href="@(Configuration["BaseAddress"] + Model.Product.ThumbnailImage)" title="@Model.Product.Name">
                        <img src="@(Configuration["BaseAddress"] + Model.Product.ThumbnailImage)" style="width:320px;height:350px;border:solid;color:#8080803b" alt="@Model.Product.Name" />
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
            <h3>@Model.Product.Name</h3>
            <p><span class="item_price">@Model.Product.OriginalPrice</span>vnđ</p>
            <h4>Còn @Model.Product.Stock sản phẩm trong kho</h4>
            </br>
            <div class="color-quality">
                <div class="color-quality-right">
                    <h5>Số lượng :</h5>
                    <input type="number" class="span1" placeholder="Qty." />
                </div>
            </div>
            <div class="occasional">
               <h4>@Model.Product.SeoTitle</h4>
                <div class="clearfix"> </div>
            </div>
            <div class="occasion-cart">
                <a href="#" class="item_add hvr-outline-out button2" data-id="@Model.Product.Id">Add to cart</a>
            </div>

        </div>
        <div class="clearfix"> </div>
        @*<p>
            @Html.Raw(Model.Product.Details)
        </p>*@
        <div class="bootstrap-tab animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;padding-right:310px">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Mô tả</a></li>
                    <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Thông tin sản phẩm</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                        <h5>@Model.Product.SeoTitle</h5>
                        <p>
                            @Html.Raw(Model.Product.SeoDescription)
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
                        <h5>@Model.Product.SeoAlias</h5>
                        

                        <p>

                            @Html.Raw(Model.Product.Details)
                        </p>
                        
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //single -->
