@model HomeViewModel
@using Aphone.ViewModel.Products;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Home Page";
}
<!-- banner -->
<div class="banner-grid">
    <div id="visual">
        <div class="slide-visual">
            <!-- Slide Image Area (1000 x 424) -->
            <ul class="slide-group">
                <li><img class="img-responsive" src="~/images/banner1.jpg" style="width:1000px;height:424px" alt="Dummy Image" /></li>
                <li><img class="img-responsive" src="~/images/banner2.jpg" style="width:1000px;height:424px" alt="Dummy Image" /></li>
                <li><img class="img-responsive" src="~/images/banner3.png" style="width:1000px;height:424px" alt="Dummy Image" /></li>
            </ul>

            <!-- Slide Description Image Area (316 x 328) -->
            <div class="script-wrap">
                @*<ul class="script-group">
                        <li><div class="inner-script"><img class="img-responsive" src="images/baa1.jpg" alt="Dummy Image" /></div></li>
                        <li><div class="inner-script"><img class="img-responsive" src="images/baa2.jpg" alt="Dummy Image" /></div></li>
                        <li><div class="inner-script"><img class="img-responsive" src="images/baa3.jpg" alt="Dummy Image" /></div></li>
                    </ul>*@
                <div class="slide-controller">
                    <a href="#" class="btn-prev"><img src="images/btn_prev.png" alt="Prev Slide" /></a>
                    <a href="#" class="btn-play"><img src="images/btn_play.png" alt="Start Slide" /></a>
                    <a href="#" class="btn-pause"><img src="images/btn_pause.png" alt="Pause Slide" /></a>
                    <a href="#" class="btn-next"><img src="images/btn_next.png" alt="Next Slide" /></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script type="text/javascript" src="~/js/pignose.layerslider.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function () {
            $('#visual').pignoseLayerSlider({
                play: '.btn-play',
                pause: '.btn-pause',
                next: '.btn-next',
                prev: '.btn-prev'
            });
        });
        //]]>
    </script>

</div>
<!-- //banner -->
<!-- content-bottom -->
<div class="content-bottom" >
    <div class="col-md-7 content-lgrid" style="background-color:lightgoldenrodyellow">
        @foreach (var item in Model.RoyalProducts)
        {
            var url = $"/{item.Id}";
            <div class="col-sm-6 content-img-left text-center">
                <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><a href="@url"><img style="width:100%;height:400px" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name" class="img-responsive zoom-img"></a></div>
                    <div class="info-box">
                        <div class="info-content simpleCart_shelfItem">
                            <h4>@item.Name</h4>
                            <span class="separator"></span>
                            <p><span class="item_price">@item.Price</span>vnd</p>
                            <span class="separator"></span>
                            <a href="#" data-id="@item.Id" class="item_add single-item hvr-outline-out button2">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="col-md-5 content-rgrid text-center">
        @foreach (var item in Model.RoyaledProducts)
        {
            var url = $"/{item.Id}";
            <div class="content-grid-effect slow-zoom vertical">
                <div class="img-box"><a href="@url"><img style="width:100%;height:800px" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name" class="img-responsive zoom-img"></a></div>
                <div class="info-box">
                    <div class="info-content simpleCart_shelfItem">
                        <h4>@item.Name</h4>
                        <span class="separator"></span>
                        <p><span class="item_price">@item.Price</span>vnđ</p>
                        <span class="separator"></span>
                        <a href="#" data-id="@item.Id" class="item_add single-item hvr-outline-out button2">Thêm vào giỏ hàng</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="clearfix"></div>
</div>

<!-- //content-bottom -->
<!-- product-nav -->
<div class="product-easy">
    <div class="container">

        <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
            });

        </script>
        <div class="sap_tabs">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Sản Phẩm Nổi Bật</span></li>
                    <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Sản Phẩm Mới Nhất </span></li>
                    <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Sản Phẩm Khuyến Mãi</span></li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                        @foreach (var item in Model.FeaturedProducts)
                        {
                            var url = $"/{item.Id}";
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <a href="@url"><img style="width:250px;height:300px" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name" /></a>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="@url" class="link-product-add-cart">Xem Ngay</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">Hot</span>
                                    </div>
                                    <div class="item-info-product ">
                                        <h4>@item.Name</h4>
                                        <div class="info-product-price">
                                            <span class="item_price">@item.Price</span>vnđ<br>
                                            @*<del>@item.Price</del>*@
                                        </div>
                                        <a href="#" data-id="@item.Id" class="item_add single-item hvr-outline-out button2">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                        @foreach (var item in Model.LatestProducts)
                        {
                            var url = $"/{item.Id}";
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <a href="@url"><img style="width:250px;height:300px" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name" /></a>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="@url" class="link-product-add-cart">Xem Ngay</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">Mới</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4>@item.Name</h4>
                                        <div class="info-product-price">
                                            <span class="item_price">@item.Price</span>vnđ<br>
                                            @*<del>@item.Price</del>*@
                                        </div>
                                        <a href="#" data-id="@item.Id" class="item_add single-item hvr-outline-out button2">Thêm vào giò hàng</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                        @foreach (var item in Model.SpecialProducts)
                        {
                            var url = $"/{item.Id}";
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <a href="@url"><img style="width:250px;height:300px" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name" /></a>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="@url" class="link-product-add-cart">Xem Ngay</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">WoW</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4>@item.Name</h4>
                                        <div class="info-product-price">
                                            <span class="item_price">@item.OriginalPrice</span>vnđ<br>
                                            <del>@item.Price</del>
                                        </div>
                                        <a href="#" data-id="@item.Id" class="item_add single-item hvr-outline-out button2">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //product-nav -->
@*<div class="coupons">
        <div class="container">
            <div class="coupons-grids text-center">
                <div class="col-md-3 coupons-gd">
                    <h3>Buy your product in a simple way</h3>
                </div>
                <div class="col-md-3 coupons-gd">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <h4>LOGIN TO YOUR ACCOUNT</h4>
                    <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit amet, consectetur.
                    </p>
                </div>
                <div class="col-md-3 coupons-gd">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <h4>SELECT YOUR ITEM</h4>
                    <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit amet, consectetur.
                    </p>
                </div>
                <div class="col-md-3 coupons-gd">
                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    <h4>MAKE PAYMENT</h4>
                    <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit amet, consectetur.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>*@
